* {
    margin: 0;
    padding: 0;
}

@font-face {
  font-family: "apa aja";
  src: url("gambar/Alata-Regular.ttf");
}
@font-face {
  font-family: "valorant";
  src: url("gambar/Valorant-Font.ttf");
}
@font-face {
  font-family: "tungsten";
  src: url("gambar/Tungsten-Bold.ttf");
}
@font-face {
  font-family: "poppins";
  src: url("gambar/Poppins-ExtraLight.ttf");
}

body {
    background: #007a8d;

    height: 100vh;
}

.a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;

}

header {
    color: white;
    font-family: "apa aja", sans-serif;
  }
  
  .navbar {
    height: 75px;
    margin: auto;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    z-index: 5;
  }
  
  .navbar .icon {
    width: max-content;
    height: 70px;
    float: left;
  }
  
  .navbar .logo {
    font-size: 30px;
    float: left;
    margin-left: 45px;
    padding: 0px 20px;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    
  }

  .navbar .menu a{
    font-size: 1vw;
  }
  
  .navbar .logo a {
    font-weight: bold;
  }
  
  .navbar a span {
    color: #679aee;
  }
  
  .navbar .menu {
    float: right;
    margin-right: 45px;
    padding-top: 20px;
  }
  
  .navbar ul {
    list-style-type: none;
  }
  
  .navbar ul li {
    display: inline-block;
    padding-top: 5px;
    margin-right: 45px;
  }
  
  .navbar ul .a:hover {
    border-bottom: 3px solid #679aee;
    transition: 0.5s;
  }
  
  .navbar ul .download {
    padding: 8px 15px;
    border-radius: 10px;
    border: #679aee solid;
  }
  
  .navbar ul .download:hover {
    background: #679aee;
    transition: 0.5s;
  }

.card-container {
    display: flex;
}

.left {
    flex: 1;
    height: 480px;
    padding: 100px;
    background-color: #00b4cf;
}

.right {
    display: flex;
    flex: 1;
    height: 460px;
    padding: 20px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.left {
    display: flex;
    flex: 1;
    height: 522px;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}


.left-container {
    height: 50%;
    width: 80%;
    text-align: center;
    line-height: 22px
}

.left p {
    font-size: 0.9rem;
}

.a h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.right-container {
    width: 70%;
    height: 80%;
    text-align: center;
}

input,
textarea {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    font-size: 0.8rem;
}

input:focus,
textarea:focus {
    outline: 1px solid #00b4cf;
}

.a button {
    border-radius: 20px;
    border: 1px solid #00b4cf;
    background-color: #00b4cf;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-out;
    cursor: pointer;
}

button:hover {
    opacity: 0.7;
}

textarea {
    height: 90px;
}
/* responsive */

@media only screen and (max-width: 600px){
    .left {
        display: none;
    }

    .lg-view {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .sm-view {
        display: none;
    }
}

.kosong{
  width: 100%;
  height: 200px;
  background-color: #007a8d ;
}