* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "apa aja";
  src: url("gambar/Alata-Regular.ttf");
}
@font-face {
  font-family: "valorant";
  src: url("gambar/Valorant-Font.ttf");
}
@font-face {
  font-family: "tungsten";
  src: url("gambar/Tungsten-Bold.ttf");
}
@font-face {
  font-family: "poppins";
  src: url("gambar/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: "phoenix";
  src: url("gambar/americankestrallaser1_2.ttf");
}
body {
  width: 100%;
}

.halaman-1 {
  background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url("gambar/begron-lagi.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
  position: relative;
}

header {
  color: white;
  font-family: "apa aja", sans-serif;
}

.navbar {
  height: 75px;
  margin: auto;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 5;
}

.navbar .icon {
  width: max-content;
  height: 70px;
  float: left;
}

.navbar .logo {
  font-size: 30px;
  float: left;
  margin-left: 45px;
  padding: 0px 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.navbar .logo a {
  font-weight: bold;
}

.navbar a span {
  color: #679aee;
}

.navbar .menu {
  float: right;
  margin-right: 45px;
  padding-top: 20px;
}

.navbar ul {
  list-style-type: none;
}

li#drop{
  display: inline-block;
}

ul#isi{
  position: absolute;
  display: none;
  background-color: #679aee;
  box-sizing: border-box;
  padding-left: 10px;
  width: 7%;
  z-index: 6;
  border-radius: 0 10px 20px 10px;
}

ul#isi li{
  margin-bottom: 10px;
}

ul#isi li a:hover{
  color: #cdcdcd;
}

li#drop:hover ul#isi{
  display: block;
}

.navbar ul li {
  display: inline-block;
  padding-top: 5px;
  margin-right: 45px;
}

.navbar ul .a:hover {
  border-bottom: 3px solid #679aee;
  transition: 0.5s;
}

.navbar ul .download {
  padding: 8px 15px;
  border-radius: 10px;
  border: #679aee solid;
}

.navbar ul .download:hover {
  background: #679aee;
  transition: 0.5s;
}

main{
  position: absolute;
  width: 38%;
  top: 23%;
  left: 57%;
  color: white;
}

main h1{
  font-family: 'apa aja', sans-serif;
  font-size: 4vw;
}

main h1 span{
  color: #679aee;
}

main p{
  font-family: 'poppins', sans-serif;
  font-size: 1vw;
}

main a.dll{
  border: 2px #679aee solid;
  padding: 0.5% 1%;
  margin-top: 10px;
  text-decoration: none;
  color: #679aee;
  border-radius: 10px;
  transition: 0.5s;
}

main a.dll:hover{
  border-color: #679aee;
  color: white;
  background-color: #679aee;
  
}

img.scroll {
  z-index: 2;
  left: 47.5%;
  top: 90%;
  position: absolute;
  width: 5%;
  transition: 1s;
}

img.scroll:hover{
  top: 91%;
  

}

/* HALAMAN KE 2 */

.halaman-2 {
  width: 100%;
  background-color: #fff;
  display: flex;
  height: max-content;
}

.character {
  width: 50%;
  background-color: #679aee;
}

.character .character-img img:first-child {
  z-index: 2;
  position: absolute;
  left: 10%;
  width: 45%;
  height: auto;
  transition: 1s ease;
}

.character .character-img img:last-child {
  position: absolute;
  left: 11%;
  width: 45%;
  height: auto;
  transition: 1.3s;
}

.halaman-2:hover img:first-child {
  left: 14%;
}

.halaman-2:hover img:last-child {
  left: 15%;
  opacity: 80%;
}

.halaman-2:hover .character-name p {
  color: #fff;
  opacity: 100%;
}

.character .character-name p {
  font-family: "valorant", sans-serif;
  color: #fff;
  font-size: 6.5vw;
  z-index: 2;
  opacity: 0;
  margin-top: 35%;
  position: absolute;
  margin-left: 10px;
  transition: 1s ease;
}

.kotak {
  z-index: 3;
  left: 1%;
  position: absolute;
  width: 200px;
  transition: all 1s;
}

.penjelasan {
  width: 50%;
  background-color: #fff;
}

.penjelasan .name h1 {
  text-align: center;
  margin-left: 15%;
  margin-top: 2%;
  font-size: 5vw;
  font-family: "tungsten", sans-serif;
  color: #fff;
  width: 70%;
  background-color: #679aee;
  letter-spacing: 1px;
}

.penjelasan .name p {
  margin: 8% 5% 5% 10%;
  font-size: 1.28vw;
  font-family: "Poppins", sans-serif;
}
.penjelasan .name p span {
  color: #679aee;
  font-weight: bolder;
}
.penjelasan .name p span:last-child {
  color: #fff200;
  font-weight: bolder;
}

.penjelasan .video video {
  width: 63%;
  height: auto;
  margin-left: 20%;
  float: left;
  border-radius: 10px;
  margin-bottom: 5%;

}

.penjelasan .scroll2 {
  width: 10%;
  height: auto;
  float: right;
  margin-top: 30%;
  margin-right: 3%;
}

/* halaman 3 */
.halaman-3 {
  width: 100%;  
  position: relative;
  overflow: hidden;
  height: max-content;

}

.character-2 {
  width: 50%;
  height: 95vh;
  box-sizing: border-box;
  float: right;
  background-color: #ec6854 ;
}

.character-2 .character-img-2 img:first-child {
  position: absolute;
  right: 12%;
  width: 45%;
  height: auto;
  z-index: 1;

}

.character-2 .character-img-2 img:last-child{
  position: absolute;
  right: 13%;
  width: 45%;
  height: auto;
  z-index: 0;
}

.character-2 .character-name-2 h1:first-child {
  font-family: "phoenix", sans-serif;
  font-weight: 100;
  color: #f7ee44;
  font-size: 10.5vw;
  z-index: 2;
  margin-top: 35%;
  position: absolute;
  right: 110%;
  transition: all 0.6s ease;
}

.character-2 .character-name-2 h1:last-child {
  font-family: "phoenix", sans-serif;
  font-weight: 100;
  color: #ff0000;
  font-size: 10.5vw;
  z-index: 1;
  margin-top: 35%;
  position: absolute;
  right: 110%;
  transition: all 0.7s ease;
}

.halaman-3:hover .character-name-2 h1:first-child{
  right: 3%;

}

.halaman-3:hover .character-name-2 h1:last-child{
  right: 3.5%;

}

.deskripsi {
  width: 50%;
  float: left;
  background-color: white;
}

.deskripsi .nama h1{
  font-family: 'tungsten', sans-serif;
  text-align: center;
  margin-left: 15%;
  margin-top: 2%;
  font-size: 5vw;
  color: white;
  letter-spacing: 5px;
  background-color: #ec6854;
  width: 70%;
}

.deskripsi .nama p{
  margin: 8% 5% 5% 3%;
  font-size: 1.28vw;
  font-family: "Poppins", sans-serif;
}

.deskripsi .nama p span:nth-child(1){
  color: #ec6854;
  font-weight: bolder;
}

.deskripsi .nama p span:nth-child(2){
  color: #f117c6;
  font-weight: bolder;

}

.deskripsi .video2 video{
  width: 63%;
  height: auto;
  margin-left: 7%;
  border-radius: 10px;
  margin-bottom: 5%;
}

.hiasan img{
  position: absolute;
  width: 6%;
  height: auto;
  left: 110%;
  z-index: 2;
  top: 55%;
  transform: rotate(-90deg);
  transition: 0.5s;
  transition-delay: 0.3s;
}

.halaman-3:hover .hiasan img{
  left: 90%;
}

/* footer */
footer{
  width: 100%;
  height: max-content;
  background-color: #111;
  padding: 1%;
  box-sizing: border-box;
}

footer img.foot{
  display: block;
  margin: auto;
}

footer img{
  width: 7%;
  height: auto;
}

footer p{
  color: #fff;
  font-size: 11px;
  margin: 1% 0;
  text-align: center;
  font-family: 'poppins';
}

footer ul{
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 2%;
}

footer ul li{
  margin: 0 5%;
  font-family: 'apa aja',sans-serif;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: #679aee;
  min-height: 10%;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}